.home{
  padding: 210px 0 80px;
  background: url("../images/homeBg.png") center/cover no-repeat;
  &__title{
    @include text($museo700, 44px, 96.5%, #fff);
  }
  &__subtitle{
    @include text($museo300, 22px, 24px, #fff);
    margin: 20px 0 26px;
  }
  &__btns{
    display: flex;
    column-gap: 46px;
    margin-bottom: 180px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__card{
    display: flex;
    column-gap: 20px;
    align-items: center;
    &-text{
      @include text($museo300, 15px, 18px, #fff);
    }
  }

}


@media (max-width: 1440px) {
  
}

@media (max-width: 1320px) {
  
}

@media (max-width: 1200px) {
  .home {
    padding: 180px 0 70px;
  }
  .home__btns {
    margin-bottom: 140px;
  }
}

@media (max-width: 1024px) {
  
}

@media (max-width: 992px) {
  .home {
    padding: 160px 0 60px;
    &__btns {
      margin-bottom: 120px;
    }
    &__title {
      font-size: 40px;
    }
    &__subtitle {
      font-size: 20px;
    }
  }

}

@media (max-width: 820px) {
  .home__card {

    column-gap: 10px;
  }
}

@media (max-width: 786px) {
  .home {
    padding: 140px 0 50px;
    &__btns {
      margin-bottom: 80px;
    }
    &__title {
      font-size: 35px;
      text-align: center;
    }
    &__subtitle{
      text-align: center;
    }
    &__btns{
      justify-content: center;
      column-gap: 30px;
    }
    &__card{
      flex-direction: column;
      text-align: center;
      row-gap: 10px;
      &-icon{
        transform: scale(0.9);
      }
    }
  }

}


@media (max-width: 676px) {
  .home {
    padding: 120px 0 50px;
    &__title{
      font-size: 30px;
    }
    &__subtitle {
      font-size: 18px;
      margin: 15px 0 20px;
    }
    &__btns {
      margin-bottom: 70px;
    }
    &__card {
      row-gap: 5px;
    }
    .home__card-text {
      font-size: 14px;
    }
    &__card{

      &-icon{
        transform: scale(0.8);
      }
    }
  }
}

@media (max-width: 576px) {
  .home{
    &__title{
      br{
        display: none;
      }
    }
    &__subtitle{
      br{
        display: none;
      }
    }
    &__row{
      flex-wrap: wrap;
      row-gap: 15px;
    }
    &__card{
      flex-direction: row;
      text-align: left;
      &-icon{
        min-width: 55px;
        display: flex;
        width: 55px;
        transform: scale(1);
      }
      &-text{
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 425px) {
  
}

@media (max-width: 375px) {
  
}
@media (max-width: 320px) {

}




