@import "../fonts/Museo/style.css";


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container{
  max-width: 1185px;
  margin: 0 auto;
  padding: 0 20px;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  height: 0;
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

$museo700 : 'Museo Sans Rounded 700',sans-serif;
$museo300 : 'Museo Sans Rounded 300',sans-serif;

@mixin text ($ff, $fz, $lh, $c) {
  font-family: $ff;
  font-size: $fz;
  line-height: $lh;
  color: $c;
}

@import "btn";
@import "header";
@import "home";
@import "map";
@import "products";
@import "info";
@import "question";
@import "autos";
@import "advantage";
@import "overlay";


